<div class="container">
  <div class="row">

    <div class="row">
      <div class="col-lg-6">
        Mnemônico: <span class="required-input">(*)</span>
        {{inputs/generic-input
          value=tipoProduto.mnemonico
          maxlength=10
          actionOnFimValidacao="actValidarMnemonico"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Nome: <span class="required-input">(*)</span>
        {{inputs/generic-input
          value=tipoProduto.nome
          maxlength=255
          actionOnFimValidacao="actValidarNome"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Descrição: <span class="required-input">(*)</span>
        {{inputs/generic-input
          value=tipoProduto.descricao
          maxlength=255
          actionOnFimValidacao="actValidarDescricao"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Categoria: <span class="required-input">(*)</span>
        {{inputs/input-autocomplete
          initialRecord=tipoProduto.categoriaProduto
          modelName="categoria-produto"
          suggestionField="nome"
          onSelect="actValidarCategoria"
          onDeselect="actValidarCategoria"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Unidade de Saída: <span class="required-input">(*)</span>
        {{inputs/input-autocomplete
          initialRecord=tipoProduto.unidadeMedidaSaida
          modelName="unidade-medida"
          suggestionField="nome"
          onSelect="actValidarUnidadeSaida"
          onDeselect="actValidarUnidadeSaida"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        Estoque Mínimo: <span class="required-input">(*)</span>
        {{inputs/numeric-input
          value=tipoProduto.estoqueMinimo
          actionOnFimValidacao="actValidarEstoqueMinimo"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        Ponto de Compra: <span class="required-input">(*)</span>
        {{inputs/numeric-input
          value=tipoProduto.pontoCompra
          actionOnFimValidacao="actValidarPontoCompra"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        Estoque Ideal: <span class="required-input">(*)</span>
        {{inputs/numeric-input
          value=tipoProduto.estoqueIdeal
          actionOnFimValidacao="actValidarEstoqueIdeal"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        Status: <span class="required-input">(*)</span>
        {{select-options-ativo-inativo
          id="cmb-tipo-produto-status"
          class="form-control"
          actionOnChange="actValidarStatusTipoProduto"}}
      </div>
    </div>

  </div>

  <hr>

  <div class="row">

    <ul class="nav nav-tabs" role="tablist">

      {{#each tipoProduto.produtos as |produto indexProduto|}}
        <li role="presentation">
          <a id="btn-aba-produto-{{indexProduto}}" href="#tab-produto-{{indexProduto}}" aria-controls="home" role="tab" data-toggle="tab" {{action "actEscolherProdutoAbaAtual" indexProduto produto}}>
            {{produto.nome}}

            {{#unless possuiUnicoProduto}}
              <a id="btn-fechar-produto-{{indexProduto}}" {{action "actFecharAbaProduto" indexProduto}} style="cursor:pointer;"><i class="fa fa-close text-danger"></i> </a>
            {{/unless}}


            {{#if isEdit}}
              <i id="i-delecao-produto-{{produto.id}}" class="fa fa-exclamation text-danger" style="display:none;"></i>
            {{/if}}

        </a>
        </li>
      {{/each }}

      <li role="presentation">
        <a {{action "actCriarNovaAbaProduto"}}>
          <i class="fa fa-plus"></i>
        </a>
      </li>

    </ul>

    <div class="tab-content">

      {{#each tipoProduto.produtos as |produto indexProduto| }}

      <div role="tabpanel" class="tab-pane" id="tab-produto-{{indexProduto}}">

        <br>

        {{#if isEdit}}
        <div class="row">
          <div class="col-lg-5">
            <div id="mensagem-delecao-produto-{{produto.id}}" class="alert alert-danger" style="display:none;">
              <strong>Esté produto será excluído ao salvar o registro.</strong>
              <br>
               <a href="" {{action "actCancelarExclusaoProduto" indexProduto produto}}>Cancelar</a>
            </div>
          </div>
        </div>
        {{/if}}

        <div class="row">
          <div class="col-lg-5">
            Nome: <span class="required-input">(*)</span>
            {{inputs/generic-input
              value=produto.nome
              maxlength=255
              actionOnFimValidacao="actValidarNomeProduto"}}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            Descrição:
            {{inputs/generic-input
              value=produto.descricao
              maxlength=255}}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            Marca:
            {{inputs/input-autocomplete
              initialRecord=produto.marca
              modelName="marca"
              suggestionField="nome"
              refIndex=indexProduto
              onSelect="actValidarMarca"
              onDeselect="actValidarMarca"}}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            Modelo:
            {{inputs/generic-input
              value=produto.modelo
              maxlength=255}}
          </div>
        </div>

        <br>
        <hr>
        <div class="row">
          <div class="col-lg-2">
            Fornecedores:
          </div>

          {{#unless produto.fornecedores.length}}
          <div class="col-lg-3">
            <button class="btn btn-default btn-xs" {{action "actAdicionarFornecedor" produto}}><i class="fa fa-plus"></i>&nbsp;Adicionar fornecedor</button>
          </div>
          {{/unless}}

        </div>

        {{#each produto.fornecedores as |fornecedor indexFornecedor|}}
          <div id="componentes-produto-{{indexProduto}}-fornecedor-{{indexFornecedor}}" class="row">
            <div class="col-lg-3">
              Nome: <span class="required-input">(*)</span>
              {{inputs/input-autocomplete
                initialRecord=fornecedor.pessoa
                modelName="pessoa"
                suggestionField="nome"
                refIndex=indexFornecedor
                onSelect="actValidarNomeFornecedor"
                onDeselect="actValidarNomeFornecedor"}}
            </div>
            <div class="col-lg-3">
              Código:
              {{inputs/generic-input
                value=fornecedor.codigo
                maxlength=255}}
            </div>
            <div class="col-lg-3">
              Observações:
              {{inputs/generic-input
                value=fornecedor.observacao
                maxlength=255}}
            </div>
            <div id="botoes-controle-produto-{{indexProduto}}-fornecedor-{{indexFornecedor}}" class="col-lg-3">
              <br>
              <button class="btn btn-default btn-md" {{action "actExcluirLinhaFornecedor" produto indexFornecedor fornecedor}}><i class="fa fa-close"></i></button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-9">
              <div id="mensagem-delecao-produto-{{indexProduto}}-fornecedor-{{indexFornecedor}}" class="alert alert-danger" style="display:none;">
                O fornecedor será excluído ao salvar o registro.
                <br>
                <a href="" {{action "actCancelarExclusaoFornecedor" fornecedor indexFornecedor}}>Cancelar</a>
              </div>
            </div>
          </div>
        {{/each}}

        {{#if produto.fornecedores}}
        <br>
        <div class="row">
        <div class="col-lg-3">
          <button class="btn btn-default btn-xs" {{action "actAdicionarFornecedor" produto}}><i class="fa fa-plus"></i>&nbsp;Adicionar fornecedor</button>
        </div>
        </div>
        {{/if}}

        <hr>

        <div class="row">
          <div class="col-lg-2">
            Unidades de Entrada:
          </div>

          {{#unless produto.unidadesMedidaEntrada.length}}
          <div class="col-lg-3">
            <button class="btn btn-default btn-xs" {{action "actAdicionarUnidadeEntrada" produto}}><i class="fa fa-plus"></i>&nbsp;Adicionar unidade de entrada</button>
          </div>
          {{/unless}}

        </div>

        {{#each produto.unidadesMedidaEntrada as |unidadeMedidaEntrada indexUnidadeEntrada|}}
        <div id="componentes-produto-{{indexProduto}}-unidade-{{indexUnidadeEntrada}}" class="row">
          <div class="col-lg-3">
            Nome: <span class="required-input">(*) </span>
            {{inputs/input-autocomplete
              initialRecord=unidadeMedidaEntrada.unidadeMedida
              modelName="unidade-medida"
              suggestionField="nome"
              refIndex=indexUnidadeEntrada
              onSelect="actValidarNomeUnidadeMedidaProduto"
              onDeselect="actValidarNomeUnidadeMedidaProduto"}}
          </div>
          <div class="col-lg-2">
            <div class="row">
              <div class="col-lg-2">
                <br>
                <h4>=</h4>
              </div>
              <div class="col-lg-10">
              <br>
              {{inputs/numeric-input
                value=unidadeMedidaEntrada.quantidade
                valorRefIndex=indexUnidadeEntrada
                actionOnFimValidacao="actValidarQuantidadeUnidadeEntrada"}}
              </div>
            </div>
          </div>
          <div id="botoes-controle-produto-{{indexProduto}}-unidade-{{indexUnidadeEntrada}}" class="col-lg-7">
            <br>
            <button class="btn btn-default btn-md" {{action "actMoverUnidadeCima" produto indexUnidadeEntrada unidadeMedidaEntrada}}><i class="fa fa-arrow-up"></i></button>
            <button class="btn btn-default btn-md" {{action "actMoverUnidadeBaixo" produto indexUnidadeEntrada unidadeMedidaEntrada}}><i class="fa fa-arrow-down"></i></button>
            <button class="btn btn-default btn-md" {{action "actExcluirLinhaUnidadeEntrada" produto indexUnidadeEntrada unidadeMedidaEntrada}}><i class="fa fa-close"></i></button>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-lg-5">
            <div id="mensagem-delecao-produto-{{indexProduto}}-unidade-{{indexUnidadeEntrada}}" class="alert alert-danger" style="display:none;">
              A unidade de medida será excluída ao salvar o registro.
              <br>
              <a href="" {{action "actCancelarExclusaoUnidade" unidadeMedidaEntrada indexUnidadeEntrada}}>Cancelar</a>
            </div>
          </div>
        </div>

        {{/each}}

        {{#if produto.unidadesMedidaEntrada}}
        <br>
        <div class="row">
        <div class="col-lg-3">
          <button class="btn btn-default btn-xs" {{action "actAdicionarUnidadeEntrada" produto}}><i class="fa fa-plus"></i>&nbsp;Adicionar unidade de entrada</button>
        </div>
        </div>
        {{/if}}

        <hr>

        <div class="row">
          <div id="div-produto-{{indexProduto}}-status" class="col-lg-2">
            Status: <span class="required-input">(*)</span>
            {{select-options-ativo-inativo
              class="form-control"
              actionOnChange="actValidarStatusProduto"}}
          </div>
        </div>

      </div>

      {{/each}}

    </div>

    <br>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        {{#link-to "tipos-de-produto/index" class="btn btn-default"}}<i class="fa fa-long-arrow-left"></i>&nbsp;Voltar{{/link-to}}
        <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Salvar</button>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-12">
        {{bootstrap/box-alert
          id="box-alert"}}
      </div>
    </div>

  </div>
</div>
