<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "dashboard" class="navbar-brand"}}LisWeb{{/link-to}}
    </div>

    <div id="navbar" class="navbar-collapse collapse">

      {{#if applicationSession.isAuthenticated}}
      <ul class="nav navbar-nav">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true"
                      aria-expanded="false">Básicos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{ link-to 'Escolher Laboratório' 'laboratorios' }}</li>
            <li role="separator" class="divider"></li>
            <li>{{#link-to "categorias-de-produto"}}Categoria de Produtos{{/link-to}}</li>
            <li>{{ link-to 'Marcas' 'marcas' }}</li>
            <li>{{#link-to "tipos-de-pessoa"}}Tipos de Pessoas{{/link-to}}</li>
            <li>{{link-to "Unidades de Entrada/Saída" "unidades-de-medida" }}</li>
          </ul>
        </li>
      </ul>
          {{/if}}

      <ul class="nav navbar-nav navbar-right">
        <li><a href=''>Suporte</a></li>

        {{#if applicationSession.isAuthenticated}}
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
        {{/if}}

        <li></li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
