<div class="container animated fadeInUp">

  <div class="row">

    <div class="col-lg-3 col-md-6">
      {{dashboard-button
       icon="fa-bookmark-o"
       titulo="Categorias de Produto"
       actionOnClick="actRedirecionarDashboard"
       refParam="categorias-de-produto/index"}}
    </div>

    <div class="col-lg-3 col-md-6">
      {{dashboard-button
       icon="fa-tags"
       titulo="Marcas"
       actionOnClick="actRedirecionarDashboard"
       refParam="marcas/index"}}
    </div>

     <div class="col-lg-3 col-md-6">
       {{dashboard-button
         icon="fa-users"
         titulo="Pessoas"
         actionOnClick="actRedirecionarDashboard"
         refParam="pessoas/index"}}
     </div>

     <div class="col-lg-3 col-md-6">
       {{dashboard-button
         icon="fa-user"
         titulo="Tipos de Pessoas"
         actionOnClick="actRedirecionarDashboard"
         refParam="tipos-de-pessoa/index"}}
     </div>

  </div>

  <div class="row">

     <div class="col-lg-3 col-md-6">
       {{dashboard-button
         icon="fa-flask"
         titulo="Tipos de Produto"
         actionOnClick="actRedirecionarDashboard"
         refParam="tipos-de-produto/index"}}
     </div>

     <div class="col-lg-3 col-md-6">
       {{dashboard-button
         icon="fa-exchange"
         titulo="Unidades de Medida"
         actionOnClick="actRedirecionarDashboard"
         refParam="unidades-de-medida/index"}}
     </div>

     <div class="col-lg-3 col-md-6"></div>
     <div class="col-lg-3 col-md-6"></div>

  </div>

</div>
